
@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_LayoutSaler.cshtml";
}
<div class="Confirm">
    <hr />
    <b>Bạn đã đặc hàng và thanh toán thành công</b>
    <br />
    <b>Đơn hàng của bạn đang được xử lý</b>
    <hr />
</div>
<style>
    .Confirm{
        text-align:center;
        font-size:20pt
    }
</style>



