
@{
    ViewBag.Title = "Xacnhan";
    Layout = "~/Views/Shared/_LayoutSaler.cshtml";
}

<div class="clearfix"></div>
<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".20s">
    <a href="@Url.Action("Payment","Sale")"><input type="submit" value=" Thanh toán  Online " /></a>
</div>
<br />
<div class="clearfix"></div>