
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="contact">
    <div class="container">
        <h2>Liên hệ</h2>
        <div class="map">
            <h4></h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4808.762407242817!2d106.6785946814458!3d10.80273772627681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d90aa8ed3d%3A0x647c53a4061baea4!2zNTUgTmd1eeG7hW4gxJDDrG5oIENoaeG7g3UsIFBoxrDhu51uZyA0LCBQaMO6IE5odeG6rW4sIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1625739835161!5m2!1svi!2s" width="100%" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
        <div class="address">
            <div class="col-md-4 address-grids">
                <h4>Địa chỉ :</h4>
                <ul>
                    <li>
                        <p>
                            55/7 Phan Đình Phùng<br>
                            Quận Phú Nhuận,<br>
                            Tp Hồ Chí Minh 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 address-grids">
                <h4>Điện thoại:</h4>
                <p>+84 123 456 789</p>
                <p>+84 933 456 789</p>
            </div>
            <div class="col-md-4 address-grids">
                <h4>Email:</h4>
                <p><a href="mailto:oslthanhduy@email.com">oslthanhduy@email.com</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="contact-form">
            <h4>Gửi phản hồi cho chúng tôi</h4>
            @using (Html.BeginForm("LienHe", "Home"))
            {
                <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                    <input type="text" name="HoTen" placeholder="Họ Tên" >
                    <span><label style="color:red">@ViewData["Loi1"]</label></span>

                    <input type="email" name="Email" placeholder="Email" >
                    <span><label style="color:red">@ViewData["Loi2"]</label></span>

                    <input type="text" name="SDT" placeholder="Số điện thoại" >
                    <span><label style="color:red">@ViewData["Loi3"]</label></span>

                    <textarea placeholder="Nội dung phản hồi" name="NoiDung" ></textarea>
                    <span><label style="color:red">@ViewData["Loi4"]</label></span>
                    <hr />
                    <button type="submit" class="btn1 btn-1 btn-1b">Gửi phản hồi</button>
                </form>
            }
            </div>
    </div>
</div>

